<%- include("partials/head.ejs") -%>

  <header class="header">
    <div class="loading-msg">
      <div class="loader mb-2"></div>
      <h4>Sending message...</h4>
    </div>
    <div class="title-logo"></div>
    <div class="scroll-logo">
      <a href="#main">
        <img src="/public/images/scroll.svg" alt="scroll arrow">
      </a>
    </div>
  </header>

  <div class="container-fluid main-container" id="main">

    <div class="button-group">
      <div class="row">
        <div class="btn projects col-md-4 col-sm-4 col-4" data-toggle="collapse" data-target="#projects" aria-expanded="false" aria-controls="projects">
          Projects
        </div>
        <div class="btn resume col-md-4 col-sm-4 col-4" data-toggle="collapse" data-target="#resume"  aria-expanded="true" aria-controls="resume">
          Resume / About Me
        </div>
        <div class="btn contact col-md-4 col-sm-4 col-4" data-toggle="collapse" data-target="#contact"  aria-expanded="false" aria-controls="contact">
          Contact
        </div>
      </div>
    </div>

    <div class="content-group">
      <div class="collapse" id="projects" data-parent="#main">
        <div class="projects-content">

          <div class="codepen-btn">
            <a class="codepen-link btn btn-secondary" href="https://codepen.io/Ozubergs/pens/" target="_blank">
              <span class="codepen-text">SEE MORE AT C</span>
              <i class="fa fa-codepen"></i>
              <span class="codepen-text">DEPEN</span>
            </a>
          </div>
          
          <div id="carouselControls" class="carousel slide" data-interval="false" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-img">
                  <a href="https://serene-gorge-44988.herokuapp.com/" id="project1" target="_blank">
                  </a>
                  <div class="overlay-thumbnail">
                    <div class="overlay-btn-show">
                      <button type="button" class="btn btn-primary" id="show-info">
                        Info
                      </button>
                    </div>
                  </div>
                  <div class="overlay-text">
                    <div class="text">
                      <h3>Rising Academy</h3>
                      <p>This website is built for an afterschool program. I was a former teacher at
                        an afterschool called the Rising Star Learning Center. Being a teacher at Rising Star made me inspire to make this
                        website. The website requires parents to sign up with their email account and allow them to register their children
                        to become a student.</p>
                      <a href="https://github.com/ozubergz/Rising-Academy" class="github-link" target="_blank">
                        <i class="github-icon fa fa-github fa-2x"></i>
                        <span class="github-text"> GitHub</span>
                      </a>
                    </div>
                    <div class="overlay-btn-hide">
                      <button type="button" class="btn btn-primary" id="hide-info">
                        Hide
                      </button>
                    </div>
                  </div>
                  
                </div>
                <div class="carousel-text">
                  <h3>Rising Academy</h3>
                  <p>This website is built for an afterschool program. I was a former teacher at
                    an afterschool called the Rising Star Learning Center. Being a teacher at Rising Star made me inspire to make this
                    website. The website requires parents to sign up with their email account and allow them to register their children
                    to become a student.</p>
                  <a href="https://github.com/ozubergz/Rising-Academy" class="github-link" target="_blank">
                    <i class="github-icon fa fa-github fa-2x"></i>
                    <span class="github-text"> GitHub</span>
                  </a>
                </div>
              </div>
              <div class="carousel-item">
                <div id="construction-img"></div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="collapse show" id="resume" data-parent="#main">
        <div class="resume-content">
          <div class="about-me">
            <h4>About Me</h4>
            <ul>
              <li>Former educator who wants to become a web developer</li>
              <li>Self-taught web developer</li>
              <li>Interest in web-design and film</li>
            </ul>
          </div>
          <div class="container row">
            <div class="job-experience col-md-6">
              <h4>Work Experience</h4>
              <div>
                <h5 class="job-title">Risingstar Learning Center, College Point — Teacher</h5>
                <h6 class="job-date">September 2016 - June2019</h6>
                <ul>
                  <li>Teach students from ages 7 - 12 (2nd grade to grade 7th)</li>
                  <li>Teach students mainly math and english</li>
                  <li>Make lesson plans for 2nd to 7th graders</li>
                  <li>Help prepare students for state exams</li>
                </ul>
              </div>
              <div>
                <h5 class="job-title">New York Film Academy, Manhattan — Teacher Assistant</h5>
                <h6 class="job-date">July 2016 - August 2016</h6>
                <ul>
                  <li>Teach students how to use digital cameras</li>
                  <li>Teach students with lighting</li>
                  <li>Teach students with shooting, writing and directing</li>
                </ul>
              </div>
            </div>
            <div class="skills col-md-3">
              <div>
                <h4>Skills</h4>
                <ul>
                  <li>Develop websites with backend - implement securties and servers</li>
                  <li>Develop frontend websites with basic animation and design</li>
                  <li>Hash and salt password (Passport.js)</li>
                  <li>Host websites</li>
                  <li>API and RESTful API</li>
                  <li>Adobe Photoshop</li>
                  <li>Adobe XD</li>
                </ul>
              </div>
            </div>
            <div class="language col-md-3">
              <div class="row">
                
                <div class="tools col-md-12 col-sm-12 col-4">
                  <h4>Tools & Technologies</h4>
                  <ul>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>Mongoose</li>
                    <li>MongoDB</li>
                    <li>React.js</li>
                    <li>Redux</li>
                    <li>Bootstrap</li>
                    <li>JQuery</li>
                  </ul>
                </div>
                <div class="skill-langs col-md-12 col-sm-12 col-8">
                  <h4>Language</h4>
                  <ul>
                    <li>Html</li>
                    <li>Javascript</li>
                    <li>CSS</li>
                  </ul>
                </div>
              </div>
              

            </div>
          </div>

        </div>
      </div>
      <div class="collapse" id="contact" data-parent="#main">

        <div class="contact-link">
          <a class="btn btn-secondary" href="https://www.linkedin.com/in/james-min-814371192/" target="_blank" role="button">
            <span>See me at Linked-</span>
            <i class="fa fa-linkedin"></i>
          </a>
        </div>

        <div class="contact-form">
          <p>If you like to contact me, feel free to submit a message with your email.</p>
          <form id="form" method="POST" action="/contact">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
              <label for="subject">Subject:</label>
              <input type="text" id="subject" class="form-control" name="subject" required>
            </div>
            <div class="form-group">
              <label for="message">Message:</label>
              <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <%- include("partials/footer.ejs") -%>