<%- include("partials/head.ejs") -%>

<div class="rejected-msg">
  <h4>Uh Oh... Something went wrong.</h4>
  <h5>Please try again.</h5>
  <a class="btn btn-primary btn-lg" href="/" role="button">
    <i class="fa fa-arrow-left"></i>
  </a>
  <span> Back</span>
</div>

<%- include("partials/footer.ejs") -%>