<%- include("partials/head.ejs") -%>

<div class="success-pg jumbotron-wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Success!</h1>
      <p class="lead">Thank you for sending a message. I'll contact back to you via email as soon as possible.
      </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">
          <i class="fa fa-arrow-left"></i>
        </a>
        <span>Go Back!</span>
      </p>
    </div>
  </div>
</div>

 <%- include("partials/footer.ejs") -%>