<%- include("partials/head.ejs") -%>

<div class="success-msg">
  <h4>Success! Message sent.</h4>
  <a class="btn btn-primary btn-lg" href="/" role="button">
    <i class="fa fa-arrow-left"></i>
  </a>
  <span> Back</span>
</div>

 <%- include("partials/footer.ejs") -%>