html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  height: 100%;
}

.parallax-box {
  height: 100%;
  background-color: black;
}

.parallax-box > .logo {
  background-image: url("/public/images/logo.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  opacity: 1;
}

.scroll-down {
  text-align: center;
  height: 10%;
}

.main-container {
  height: 100%;
  background-color: #252525;
  font-family: 'Montserrat', sans-serif;
}

.main-container > .button-group {
  margin: auto;
  width: 50%;
  border-bottom: 1px solid rgb(114, 114, 114);
  padding: 1rem;
  margin-bottom: 1rem;
}

.main-container > .button-group .btn {
  color: white;
  border-radius: 0%;
  position: relative;
  top: 40vh;
  opacity: 0;
}

.main-container > .button-group .btn:hover {
  cursor: pointer;
  background: rgb(56, 56, 56);
  opacity: 0.5;
  color:rgb(136, 136, 136);
}

.main-container > .button-group .projects {
  animation-delay: .3s
}

.main-container > .button-group .resume {
  animation-delay: .4s
}

.main-container > .button-group .contact {
  animation-delay: .5s
}

.animateUp {
  animation: moveItemsUp linear 0.4s forwards;
}

@keyframes moveItemsUp {
  to {
    top: 0;
    opacity: 1;
  }
}

.resume-content {
  color: white;
}

.resume-content h4 {
  color: rgb(141, 141, 141);
}

.resume-content > .row {
  margin: auto;
}

.resume-content ul {
  list-style: none;
  text-indent: none;
  padding-left: 0;
}

.resume-content li {
  font-family: 'Abel',
  sans-serif;
  font-size: 0.8rem;
}

.resume-content .about-me {
  text-align: center;
}

.resume-content .job-experience {
  padding-left: 5rem;
}

.resume-content .job-experience ul {
  padding-left: 2rem;
}

.resume-content .job-title {
  font-size: 0.9rem;
}

.resume-content .job-date {
  font-size: 0.8rem;
}

.resume-content .skills li {
  margin-bottom: 0.5rem;
}

.carousel {
  margin-top: 2rem;
}

.carousel-inner {
  margin: auto;
  width: 70vw;
}

.carousel-img {
  position: relative;
  float: left;
  left: 13vw;
  width: 30%;
}

.carousel-img .thumbnail {
  width: 100%;
}

.carousel-text {
  display: inline-block;
  color: white;
  width: 50%;
  font-size: 0.7rem;
  text-align: justify;
  position: absolute;
  right: 0;
}

a:hover {
  text-decoration: none;
}

.overlay-thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 217, 0, 0.3);
  height: 100%;
  width: 100%;
  transition: .4s ease;
}

#show-info {
  display: none;
}

.overlay-text {
  display: none;
}

.overlay-text {
  display: none;
}

.carousel-img:hover .overlay-thumbnail {
  cursor: pointer;
  height: 0;
}

.github-text {
  position: relative;
  font-size: 1rem;
  bottom: 0.1rem;
}

.codepen-text {
  font-size: 1rem;
}

.codepen-btn {
  text-align: right;
  margin-right: 24vw;
}

#construction-img {
  margin: auto;
  width: 30%;
}

.construction-thumbnail {
  width: 100%;
}

.contact-link {
  margin-left: 24vw;
}

.contact-form {
  font-family: 'Abel',
  sans-serif;
  color: white;
  width: 35vw;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-form p {
  font-family: 'Montserrat',
  sans-serif;
  font-size: 0.9rem;
}

.contact-form label {
  font-size: 0.8rem;
}

.contact-form .btn {
  width: 100%;
}

/* For Mobile */
@media (min-width: 320px) and (max-width: 767px) {
  :root {
    font-size: 84%;
  }
  
  .parallax-box > .logo {
    background-size: 24rem auto;
  }

  .main-container > .button-group {
    padding: 0;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .main-container > .button-group .btn {
    padding: 0.5em;
    font-size: 0.7rem;
  }

  .resume-content {
    color: white;
  }

  .resume-content h4 {
    color: rgb(141, 141, 141);
    font-size: 0.8rem;
  }

  .resume-content ul {
    list-style: none;
    text-indent: none;
    padding-left: 0;
  }

  .resume-content li {
    font-size: 0.6rem;
  }

  .resume-content .about-me {
    text-align: center;
  }

  .resume-content .job-experience {
    padding-left: 0;
  }

  .resume-content .job-experience ul {
    padding-left: 0;
  }

  .resume-content .job-title {
    font-size: 0.7rem;
  }

  .resume-content .job-date {
    font-size: 0.7rem;
  }

  .resume-content .skills {
    padding-left: 0;
  }

  .resume-content .skills li {
    margin-bottom: 0;
  }

  .resume-content .language {
    padding-left: 0;
  }

  .resume-content .tools {
    margin-top: -0.5rem;
  }
  
  .resume-content .skill-langs {
    margin-top: 0.5rem;
  }

  .carousel {
    margin-top: 2rem;
  }

  .carousel-img {
    margin: auto;
    float: none;
    left: 0;
    width: 80%;
  }

  .carousel-text {
    display: none;
  }

  .overlay-btn-show {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .overlay-thumbnail {
    background-color: rgba(255, 217, 0, 0);
    transition: none;
  }

  .carousel-img:hover .overlay-thumbnail {
    height: 100%;
  }

  .overlay-text {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 0.6rem;
    background-color: black;
    text-align: justify;
  }

  .overlay-text .text {
    padding: 1rem;
  }

  .overlay-text .text h3 {
    font-size: 1rem;
  }

  .overlay-btn-hide {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  #show-info, #hide-info {
    width: 50%;
    display: inline-block;
  }

  .codepen-text {
    font-size: 0.7rem;
  }

  .codepen-btn {
    margin-right: 0;
  }

  #construction-img {
    width: 80%;
  }

  .contact-link {
    margin-left: 0;
  }

  .contact-link .btn {
    font-size: 0.8rem;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form p {
    font-size: 0.7rem;
  }

}

/* For Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .main-container > .button-group {
    width: 80%;
  }

  .resume-content h4 {
    font-size: 1rem;
  }

  .resume-content li {
    font-size: 0.6rem;
  }

  .resume-content .about-me {
    text-align: center;
  }

  .resume-content .job-experience {
    padding-left: 3rem;
  }

  .resume-content .job-title {
    font-size: 0.8rem;
  }

  .resume-content .job-date {
    font-size: 0.7rem;
  }

  .carousel {
    margin-top: 2rem;
  }

  .carousel-img {
    left: 5vw;
    width: 40%;
  }

  .carousel-text {
    font-size: 0.6rem;
  }

  .overlay-thumbnail {
    display: none;
  }

  .codepen-text {
    font-size: 0.8rem;
  }

  .codepen-btn {
    margin-right: 9vw;
  }

  #construction-img {
    width: 40%;
  }

  .contact-form {
    margin-top: 1rem;
    width: 50vw;
  }

  .contact-form p {
    font-size: 0.7rem;
  }

  .contact-form label {
    font-size: 0.7rem;
  }

  .contact-form .btn {
    width: 100%;
  }

  .contact-link {
    font-size: 0.7rem;
    margin-left: 10%;
  }


}

/* 1281px to higher resolution desktops */
@media (min-width: 1281px) {

  .main-container > .button-group {
    margin-bottom: 3rem;
  }

  .resume-content li {
    font-size: 1rem;
  }

  .resume-content .job-title {
    font-size: 1rem;
  }

  .resume-content .job-date {
    font-size: 1rem;
  }

  .resume-content .language {
    padding-left: 3rem;
  }

  .carousel {
    margin-top: 3rem;
  }

  .carousel-text {
    font-size: 0.8rem;
  }

  #show-info {
    display: none;
  }

  .overlay-text {
    display: none;
  }

  .contact-form {
    margin-top: 3rem;
    width: 25vw;
  }

  .contact-form p {
    font-size: 1rem;
  }

  .contact-form label {
    font-size: 1rem;
  }

}


